@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ////////////// Gloab Ends/////////////// */

/* ///////////// Background  ////////////// */

body {
    background-image: linear-gradient(to right top, #be3382, #b23b95, #a146a6, #8b50b6, #6e5ac2, #5466c7, #356fc9, #0077c8, #0080be, #0085ab, #008896, #268982);
    background-size: 400% 400vh;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* /////////////// Log in Form Design ///////// */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    background: rgba(232,232,232,0.25);
    box-shadow: 0 8px 32px 0 rgba(30,40,140,0.4);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
}

/* /////////////// Login Form it self //////////// */
.login-icon::before, .login-icon::after {
    position: absolute;
    content: '';
    top: -50%;
    right: 50%;
    width: 160px;
    height: 160px;
    background-image: linear-gradient(to right top, #747474, #6f6f6f, #69696b, #636466, #5d5f62, #575a5e, #525659, #4c5155, #454c4f, #3f4749, #384243, #333d3c);
    transform: translate(50%, 50%);
    border-radius: 50%;
}

.login-icon::after {
    width: 173px;
    height: 174px;
    background-image: linear-gradient(to right top, #eea41a, #efaf19, #efbb1a, #eec61d, #ecd223, #e9ce21, #e5c920, #e2c51e, #dbb115, #d39d0e, #c98a0b, #be780b);
    z-index: -1;
    transform: translate(50%, 40%);
    border: 2px solid rgba(0,0,0,0.5);
        box-shadow: 0 8px 32px 0 rgb(30 40 140 / 80%);
}

.login-icon img {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.login-icon img:nth-child(2){
    width: 90px;
    transform: translate(-10px, 30px) rotateZ(-45deg);
}

.login-icon img:hover ~ img:nth-child(2) {
    transform: translate(-10px, 30px) rotateZ(-35deg);
    transition: ease-in-out 0.3s;
}

/* /////////////// Login Form input fields //////////// */
form {
    margin-top: 115px;
    width: 100%;
}

input {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    outline: none;
    border: none;
    color: #f7f7f7;
    background: rgb(255 255 255 / 30%);
    box-shadow: 0 8px 32px 0 rgba(30,40,140,0.4);
}

input:nth-child(3) {
    color: #474747;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

input:nth-child(3):hover {
    color: #ffe8b0;
    background: rgb(255 255 255 / 50%);
    transition: all 0.3s;
}

@media screen and (max-width: 600px){
    body {
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .container {
        width: 95%;
    }
}