@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ////////////// Gloab Ends/////////////// */

/* ///////////// Background  ////////////// */

body {
    background-image: linear-gradient(to right top, #be3382, #b23b95, #a146a6, #8b50b6, #6e5ac2, #5466c7, #356fc9, #0077c8, #0080be, #0085ab, #008896, #268982);
    background-size: 400% 400vh;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

